@model ToolsRent.Web.ViewModels.ReservationViewModel
@using ToolsRent.Web.Util
@Html.HiddenFor(x => x.ReservationID)

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <fieldset class="with-border-light">
            <div class="form-group">
                <label>Ime prezime: </label>
                <div class="col-12">
                    @*@Html.DisplayFor(m => m.ImePrez)*@
                    @Html.TextBoxFor(x => x.ImePrez, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label>Datum rezervacije:</label>
                <div class="col-12">
                    @*@Html.DisplayFor(m => m.OfferDateStr, new { data_val = "true" })*@
                    @*@Html.EditorForDate(m => m.OfferDate, false)*@
                    @Html.TextBoxFor(model => model.OfferDate, new { @class = "datepicker" })
                </div>
            </div>

            <div class="form-group ">
                <label>Cijena:</label>
                <div class="col-12">
                    @Html.DisplayFor(m => m.PriceAll)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <button class='btn btn-warning btn-space btn-sm'
                            data-tooltip='tooltip'
                            data-bs-toggle='modal'
                            data-bs-target='#ToolReservationModal'
                            onclick='createAjaxReservation("@Url.Action( "CreateToolReservationModal", "Reservations")")'>
                        Rezerviraj alat
                    </button>
                </div>
            </div>
            <br />
        </fieldset>
        <table id="toolReservationsForReservation" class="table table-bordered table-hover dataTable table-row-border table-striped  " width="100%">
            <thead>
                <tr>

                    <th>Tip alata</th>

                    <th>Datum od</th>

                    <th>Datum do</th>

                    <th>Jedinična cijena</th>

                    <th>Akcija</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


