@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<main>
    <div class="row">
        <div class="col">
            <button class='btn btn-warning btn-space btn-sm'
                    data-tooltip='tooltip'
                    data-bs-toggle='modal'
                    data-bs-target='#ReservationModal'
                    onclick='createReservation("@Url.Action( "CreateReservationModal", "Reservations")")'>
                Stvori novu rezervaciju
            </button>
        </div>
    </div>
    <br />
    <table id="reservations" class="table table-bordered table-hover dataTable table-row-border table-striped  " width="100%">
        <thead>
            <tr>
                <th>Ime i Prezime</th>

                <th>Datum rezervacije</th>

                <th>Napomena</th>

                <th>Ukupna cijena</th>

                <th>Akcija</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    </div>
</main>

@*//modal za create entry*@
@Html.Partial("~/Views/Reservations/_ReservationModal.cshtml")

@*//modal za create tools entry*@
@Html.Partial("~/Views/Reservations/_ToolReservationModal.cshtml")



@section Scripts
{
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            var action = '@Url.Action("ReservationsHandler","Reservations")';
                var table = $('#reservations').DataTable({

                 "ajax": {
                     "type": "POST",
                     "url": action ,
                     "contentType": 'application/json; charset=utf-8',
                     'data': function (data) { return data = JSON.stringify(data); }
                 },
                 "drawCallback": function( settings ) {
                     //$.hideLoading();
                 },
                responsive: true,

                paging: true,
                searching: true,
                ordering: true,
                 "columns": [{ "data": "ImePrez"  },
                     { "data": "OfferDateStr" },
                     { "data": "Note" },
                     { "data": "PriceAll"},
                     {
                         "width": "20px", "orderable": false, "render": function (data, type, row, meta) {
                             var htmlChunk = '' + '<a class="editItem" data-id="' + row.ID + '" href="#"><span class="fa fa-lg fa-pencil"></span></a>';
                             htmlChunk += '<a class="deleteItem" data-id="' + row.ID + '" href="#"><span class="fa fa-lg fa-trash" style="padding-top:10px"></span></a>';

                             return htmlChunk;
                         }
                     }]
                 });


        });




//modal scripts
        var reservationID = 0;
        var _CreateReservationModal = $("#ReservationModal");
        var _CreateToolReservationModal = $("#ToolReservationModal");

        var htmlContainerCreateReservation = $("#htmlContainerCreateReservation");
        var htmlContainerCreateToolReservation = $("#htmlContainerCreateToolReservation");

        var _renderFormCreateReservation = function (response) {
            htmlContainerCreateReservation.html(response);
            $('#reservationCreateForm').on('submit', function (e) {
                e.preventDefault();
            });
        }

        var _renderFormCreateToolReservation = function (response) {
            htmlContainerCreateToolReservation.html(response);
            $('#toolReservationCreateForm').on('submit', function (e) {
                e.preventDefault();
            });
            debugger;
            //ajax call to fill select
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetToolTypes", "Reservations")',
                success: function (response) {
                    if (response != null) {
                        populateToolTypesSelect(response);
                    } else {

                    }
                },
                error: function (xhr, status, error) {

                }
            });
            return false;
        }

        function populateToolTypesSelect(toolTypes) {

            var selectElement = $('#toolTypeSelect');
            selectElement.empty();
            $.each(toolTypes, function (index, toolType) {
                var option = $('<option>', {
                    value: toolType.ID,
                    text: toolType.ToolKind + ' - $' + toolType.Price
                });
                selectElement.append(option);
            });
        }

        var createReservation = function (url) {
            reservationID = 0;
            $.ajax({
                url: url
            }).done(function (response) {
                    _renderFormCreateReservation(response);
                }).fail(function (xhr) {
                    if (xhr.responseText && JSON.parse(xhr.responseText).Message) {

                    }
                });
            return false;
        }

        var createAjaxReservation = function (url) {
            debugger;

            if (reservationID == 0) {
                var resForm = $("#reservationCreateForm");
                var formData = resForm.serialize();
                $.ajax({
                    type: 'POST',
                    url: '/Reservations/CreateReservation',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            reservationID = response.reservationID; 
                            createToolReservation2(url, response.reservationID);
                        } else {

                        }
                    },
                    error: function (xhr, status, error) {

                    }
                });
            } else {
                createToolReservation2(url, reservationID);
            }
            return false; // Prevent default form submission
        }


        var createToolReservation = function (url) {
             var toolID = $("#toolTypeSelect").val();
            $("#ToolID").val(toolID);
            var resForm = $("#toolReservationCreateForm");
            var formData = resForm.serialize();
            $.ajax({
                type: 'POST',
                url: '/Reservations/CreateToolReservation',
                data: formData,
                success: function (response) {
                    debugger;
                    if (response.success) {
                        debugger;                        
                        _CreateToolReservationModal.modal('hide');
                        _CreateReservationModal.modal('show');
                        fillReservation("", response.reservationID);
                    } else {

                    }
                },
                error: function (xhr, status, error) {

                }
            });
            return false;
        }



        var createToolReservation2 = function (urlx, reservationID) {
            debugger;
            $.ajax({
                type: 'GET',
                url: urlx,
                data: { reservationID: reservationID },
                success: function (response) {
                        _renderFormCreateToolReservation(response);
                },
                error: function (xhr, status, error) {

                }
            });
            return false;
        }

        var fillReservation = function (url, reservationID) {
            var resForm = $("#reservationCreateForm");
            //$.ajax({
            //    type: 'GET',
            //    url: '/Reservations/GetReservationByID',
            //    data: reservationID,
            //    success: function (response) {
            //        debugger;
            //        if (response.success) {
            //            debugger;
            //            fillReservationFormData(response, reservationID);
            //        } else {

            //        }
            //    },
            //    error: function (xhr, status, error) {

            //    }
            //});
            fillReservationFormData("", reservationID);
            return false;
        }

        var fillReservationFormData = function (response, reservationID) {
            //fill ime i prezime i datum i cijenu
            debugger;
            // datatable za rezervirane alate

            var action = '@Url.Action("GetToolReservationsByReservationID", "Reservations")';


            if ($.fn.DataTable.isDataTable('#toolReservationsForReservation')) {

                $('#toolReservationsForReservation').DataTable().destroy();
            }
            var table = $('#toolReservationsForReservation').DataTable({

                "ajax": {
                    "type": "POST",
                    "url": action,
                    "contentType": 'application/json; charset=utf-8',
                    'data': function (data) {
                        data.reservationID = reservationID;
                        return data = JSON.stringify(data);
                    }
                },
                "drawCallback": function (settings) {
                    //$.hideLoading();
                },
                responsive: true,
                paging: true,
                searching: true,
                ordering: true,
                "columns": [{ "data": "ToolType" },
                { "data": "DateFrom" },
                { "data": "DateTo" },
                { "data": "Price" },
                {
                    "width": "20px", "orderable": false, "render": function (data, type, row, meta) {
                        var htmlChunk = '' + '<a class="editItem" data-id="' + row.ID + '" href="#"><span class="fa fa-lg fa-pencil"></span></a>';
                        htmlChunk += '<a class="deleteItem" data-id="' + row.ID + '" href="#"><span class="fa fa-lg fa-trash" style="padding-top:10px"></span></a>';

                        return htmlChunk;
                    }
                }]
            });            
        }
    </script>
}